.container {
  max-width: 95vw;
  margin: 0 auto;

  header,
  .calendar {
    display: grid;
  }

  header {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // padding: 0 10px;
    background: #2f74b5;
    // margin: 0 auto;
    // flex-wrap: nowrap;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-top: 3px;

    .week-day {
      margin-top: unset;
      text-align: center;
      color: #fff;
      font-size: 1.25vmax;
      font-weight: 700;

      & + .week-day {
        margin-left: 10px;
      }
    }

    @media (max-width: 720px) {
      .week-day {
        font-size: 2vmin;

        & + .week-day {
          margin-left: 5px;
        }
      }
    }
  }
  .calendar {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: unset;

    .calendar-day {
      background-color: #fff;
      height: 19.26vmin;
      border: 1px solid #c9c9c9;
      font-weight: 700;
      transition: transform 0.5s;

      &.not-from-this-month {
        color: #aeaeae;
      }

      &:hover {
        transform: scale(1.2);
        z-index: 2;
      }
    }

    .calendar-day:nth-child(1),
    .calendar-day:nth-child(7),
    .calendar-day:nth-child(8),
    .calendar-day:nth-child(14),
    .calendar-day:nth-child(15),
    .calendar-day:nth-child(21),
    .calendar-day:nth-child(22),
    .calendar-day:nth-child(28),
    .calendar-day:nth-child(29),
    .calendar-day:nth-child(35) {
      background: #f2f2f2;
      color: #2f74b5;
    }

    @media (max-width: 720px) {
      .calendar-day {
        height: 12vmax;
      }
    }

    @media (max-width: 480px) {
      .calendar-day {
        height: 8vmax;
      }
    }
  }
}
