.calendar-day {
  background-color: #fff;
  height: 80px;
  border: 1px solid #c9c9c9;
  font-weight: 700;
  transition: transform 0.5s;
  overflow-x: hidden;
  cursor: pointer;

  &.today {
    border: 3px solid #2f74b5;
  }

  .day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .day-container {
      margin-left: 0.6vmax;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #aeaeae;
    border-radius: 20px;
  }

  &.not-from-this-month {
    color: #aeaeae;

    .day-header {
      .controls {
        .add-new-reminder {
          cursor: unset;
        }
      }
    }
  }

  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  &.weekend-day:not(.not-from-this-month) {
    background: #f2f2f2;

    .day-container {
      color: #2f74b5;
    }
  }

  .reminders-container {
    padding: 0 10px 10px;
    height: 70%;
    width: 100%;

    .reminder-controls {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;

      .new-reminder-input {
        width: 80%;
      }
    }
  }

  &.edit-mode {
    transform: scale(3);
    &.weekend-day {
      &.saturday {
        transform: scale(2.5) translate(-30%, 0);
      }
      &.sunday {
        transform: scale(2.5) translate(30%, 0);
      }
    }
  }
}

@media (max-width: 720px) {
  .calendar-day {
    height: 12vmax;
  }
}

@media (max-width: 480px) {
  .calendar-day {
    height: 8vmax;
  }
}
